@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

:root {
  --mainColor: rgb(240, 240, 240);
  --backgroundColor: #0b121e;
  --primaryColor: #00e5ff;
  --secondarColor: #1200ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

/* preloader */
.preload {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #10131a;
  transition: opacity 400ms ease-in-out, visibility 0s 400ms;
}

.show-preloader {
  visibility: visible;
  opacity: 1;
}

.circle {
  background-color: #f9dc97;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  animation: bounce-circles 0.7s infinite ease-in-out;
}

.preload .circle:nth-child(1) {
  animation-delay: -0.6s;
}

.preload .circle:nth-child(2) {
  animation-delay: -0.5s;
}

.preload .circle:nth-child(3) {
  animation-delay: -0.4s;
}

.preload .circle:nth-child(4) {
  animation-delay: -0.3s;
}

@keyframes bounce-circles {
  0%,
  40%,
  100% {
    transform: translateY(-10px);
  }

  20% {
    transform: translateY(-20px);
  }
}

/* nav */
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 15px;
  color: var(--mainColor);
  z-index: 9999;
  transition: 0.5s ease;
  overflow: visible;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--mainColor);
}

ul li {
  text-align: center;
  padding: 10px;
}

ul li a {
  font-size: 1rem;
}

.links {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease;
}

.logo {
  margin-left: -12px;
  margin-top: -25px;
  width: 120px;
}

.logo img {
  width: 100%;
}

.menuBtn {
  font-size: 1.8rem;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.showMenu {
  height: 100vh;
  background-color: var(--backgroundColor);
}

.showLinks {
  visibility: visible;
  opacity: 1;
}

.showNavbar {
  background-color: var(--backgroundColor);
  overflow: hidden;
}

.anchor {
  position: absolute;
  bottom: 50px;
}

@media (min-width: 460px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  ul li:hover a {
    color: #86bbe6;
  }

  .menuBtn {
    display: none;
  }

  .logo {
    margin-left: 20px;
    margin-top: 30px;
    width: 180px;
  }

  .links {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  h1 {
    font-size: 3rem;
  }
}

/* Main */
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("assets/images/hero.jpg");
  background-size: cover;
  background-position: center;
}

.home__content {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.5rem;
  color: var(--mainColor);
  animation: bottomSlide 2s, opacity 3s;
}

.home__content h1 {
  font-size: 3rem;
}

.home__content h2 {
  font-size: 1.4rem;
}

.content__socials {
  margin-top: 20px;
}

.content__socials a {
  font-size: 2.3rem;
  color: white;
  transition: 0.6s ease;
}

.content__socials a:hover {
  color: #86bbe6;
}

.btn {
  margin-top: 20px;
  height: 30px;
  width: 140px;
  border: none;
  border-radius: 50px;
  color: var(--mainColor);
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  background: #0f131f;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: var(--backgroundColor);
  transform: translateY(3px);
}

.primary {
  background: linear-gradient(to right, #00e5ff, #1200ff);
}

.primary:hover {
  background-color: #1066ac;
}

@keyframes bottomSlide {
  from {
    top: 80%;
    opacity: 0;
  }

  to {
    top: 30%;
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Skills */

.skills{
  position: relative;
  width: 100vw;
  margin-top: 5rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  gap: 2rem;
}

.skills-container{
  margin-top: 2rem;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.anchor#work{
  position: absolute;
  bottom: 50px;
}
.skill-card{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;
  cursor: pointer;
  
}
.skill-card:hover .card-image img{
  scale: 1.2;
}
.card-image {
  width: 100%;
  height: 80%;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: scale .2s;
}

@media(max-width:680px){
  .skills-container {
    padding: 1rem;
  }
  .skills{ 
    padding: 0 2rem;   
  }
  .skill-card{
    width: 100px;
    height: 100px;
  }
  .card-title {
    font-size: 12px;
  }
}

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 3rem;
}

.projects p {
  max-width: 400px;
}

.projects a {
  text-decoration: none;
}

.projects h1,
.projects h2,
.projects h3 {
  margin-top: 10px;
}

.project {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project__info {
  width: 100%;
}

.project__img {
  width: 100%;
  height: 288px;
}

.project__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.info__technologies {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 1.5rem;
}

.info__technologies h3 {
  font-size: 1.3rem;
}

.info__technologies div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info__technologies p {
  margin-left: 10px;
}

#html {
  color: #e34c26;
}

#css {
  color: #2862e9;
}

#js {
  color: #efd81d;
}

#leaflet {
  color: green;
}

@media (min-width: 860px) {
  .project {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .project:nth-of-type(odd) .project__img {
    order: 2;
  }

  .project__img {
    flex: 1;
  }

  .project__info {
    flex: 1;
    margin-left: 50px;
  }

  .project__info .btn {
    width: 200px;
  }
}

.contact {
  text-align: center;
  min-height: 30vh;
  width: 100vw;
}

.contact-links {
  width: 100%;
  height: 100%;
}

.contact-links ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.contact-links ul li a {
  font-size: 0.8rem;
  margin-left: 5px;
}

@media (min-width: 460px) {
  .contact-links ul {
    display: inline-block;
    text-align: center;
  }

  .contact-links ul li a {
    font-size: 1.3rem;
  }
}

footer {
  text-align: center;
  line-height: 5vh;
  width: 100vw;
  height: 5vh;
  color: var(--mainColor);
  background-color: #222;
}
